body {
  margin: 20px;
  font-family: Poppins;
  /* background-color: #212121; */
}
.main{
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color:#61677A; */
}
.width-css{
  width: 50%;
}
li{
  padding: 6px;
  
  font-weight: 500;
}
p{
  font-weight: 500;
}
.btn{
  margin-top: 10px;
}
a{
  text-decoration: none;
  color: #fff;
}
@media screen  and (max-width:600px){
  .width-css{
    width: 100%;
  }
}